@mixin file-upload-theme($theme) {
    $is-dark: map-get($theme, is-dark);

    @if $is-dark {
        .upload-container {
            background: map-get($mat-blue-grey, 400) !important;
            border: 1px dashed rgba(255,255,255,.3) !important;
        }
    }
}