@import '../../../../theme/base';

@mixin endpoint-manage-theme($theme) {
    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    .action-container {
        background: mat-color($background, 'card');
    }
}