@import '../../../../theme/base';

@mixin timed-task-theme($theme) {
    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    .search-container {
        background: mat-color($background, 'card');
    }
}