.variable-binding {
    display: block;
    width: 100%;
}
.main {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  .box {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    .content {
      margin-bottom: -1px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      padding-right: 32px;
      padding-left: 32px;
    }
  }
  .footer {
    margin-bottom: 8px;
    padding: 10px;
    color: #586069;
    font-size: 12px;
  }
}
