/* 横向填满剩余空间 */
.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

// 用例检索容器
.fuzzy-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .help {
        display: flex;
        align-items: center;
        mat-icon {
            margin-left: 10px;
        }
    }
}