.main-container {
    position: relative;
    min-height: 200px;
    height: 100%;
    margin: 20px;
    .search-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 0;
        .mgRight {
            margin-right: 10px;
        }
    }
    .table-container {
        position: relative;
        max-height: calc(100% - 220px);
        overflow: auto;
    }
    table {
        width: 100%;
    }
    .mat-header-cell, .mat-cell {
        min-width: 150px;
        padding: 10px 20px;
    }
    .mat-column-select {
        width: 30px;
        max-width: 30px;
        min-width: 30px;
    }
    .mat-column-actions {
        width: 170px;
        min-width: 170px;
        max-width: 170px;
    }
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
}