<div class="main-container">
    <div class="search-container">
        <!-- 检索 -->
        <div>
            <mat-form-field class="mgRight">
                <mat-select placeholder="环境" [value]="envId" (selectionChange)="search($event, 'env')">
                    <mat-option *ngFor="let item of envList" [value]="item.id">
                        {{item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mgRight">
                <mat-select placeholder="平台" [value]="platformCodeId" (selectionChange)="search($event, 'platform')">
                    <mat-option *ngFor="let item of platformList" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="mgRight" mat-raised-button color="primary" (click)="rest()">重置</button>
        </div>
        <!-- 批量操作 -->
        <div>
            <button class="mgRight" mat-raised-button color="warn" (click)="batchDelete()">批量删除</button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <!-- 复选框checkbox -->
            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" (click)="selection.toggle(row)">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <!-- 登录用户名 -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>登录用户名</th>
                <td mat-cell *matCellDef="let row">{{row.username}}</td>
            </ng-container>
            <!-- 环境 -->
            <ng-container matColumnDef="env">
                <th mat-header-cell *matHeaderCellDef>环境</th>
                <td mat-cell *matCellDef="let row">{{row.env?.name}}</td>
            </ng-container>
            <!-- 平台 -->
            <ng-container matColumnDef="platformCode">
                <th mat-header-cell *matHeaderCellDef>平台</th>
                <td mat-cell *matCellDef="let row">{{row.platformCode?.name}}</td>
            </ng-container>
            <!-- 更新时间 -->
            <ng-container matColumnDef="updateDate">
                <th mat-header-cell *matHeaderCellDef>更新时间</th>
                <td mat-cell *matCellDef="let row">{{row.updateDate | appDate: 'YYYY-MM-DD HH:mm'}}</td>
            </ng-container>
            <!-- 操作项 -->
            <ng-container matColumnDef="actions" stickyEnd>
                <!-- 添加 -->
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button matTooltip="添加" color="accent" (click)="handleAdd()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- 查看 -->
                    <button mat-icon-button matTooltip="查看" (click)="handleView(row)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <!-- 编辑 -->
                    <button mat-icon-button matTooltip="编辑" color="primary" (click)="handleEdit(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- 删除 -->
                    <button mat-icon-button matTooltip="删除" color="accent" (click)="handleDelete(row?.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <!-- 更多 -->
                    <button mat-icon-button matTooltip="更多" (click)="handleMore(row)">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- 分页 -->
    <mat-paginator
        showFirstLastButtons
        [length]="page.totalElements"
        [pageSizeOptions]="[5, 10, 20, 50]"
        [pageSize]="page.size"
        [pageIndex]="page.pageNumber"
        (page)="changePage($event)">
    </mat-paginator>
</div>